.navbar {
    background-color: #6e4343;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}
.navbar-link {
    color: beige;
}
.navbar-dropdown{
    background-color: teal;
}
.navbar-dropdown .navbar-item {
    background-color:teal ;
}