body {
    background-image: url('https://media.istockphoto.com/vectors/hair-salon-background-10-vector-id1192246997?k=6&m=1192246997&s=612x612&w=0&h=ndB8ewxmPu1w606KKHEHM6xHoYW53iDEPQahV1DJhls=')
}
/*Navbar code*/
.navbar {
    background-color: #6e4343;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 10px;
}
/*Social media icons in navbar*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-right:20px ;
    border-radius: 50%;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;

}

.fa-twitter {
    background: #55ACEE;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
  }
.fa-instagram {
    background: #125688;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}
/*Dropdown in right of navbar*/
.navbar-link {
    color: #D27575;
}
.navbar-dropdown{
    background-color: teal;
}
.navbar-dropdown .navbar-item {
    background-color:teal ;
}
/*About me section*/
/*main container*/
.aboutMeBox {
    
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    padding: 1.25rem;
    display: flex;
    flex-direction: row;
    height: 1000px;
}
/*card container*/
.card {
    position: relative;
    right:200px;
    top:100px;
    width: 20%;
    margin-bottom:450px;
    border-radius: 20px;
    
}

/*container for facebook images*/
.boxPhotos{
position: absolute;
right: 10px;
width: 60%;
height: 50%;
margin: 0px;
margin-top: 20px;
background-color: #E2A5A5;
border-radius: 20px;
}
/*container for services offered*/
.boxServices {
    background-color: #7E5D5D;
    position: absolute;
    width: 60%;
    height: 30%;
    margin: 0 auto;
    padding: 10px;
    bottom:-75px;
}
/*container for google maps*/
.mapBox{
    margin: 50px;
    width: 40%;
    background-color:#F0E5E5;
    border-radius: 10px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    position: absolute;
    bottom:0px;
    left: 50%;
    transform: translate(-50%);

}
/* Paola's Style for Google Map */
#mapHeader {
    font-size: 2em;
    font-weight: bold;
}

#map {
    height: 300px;
    width: 50%;
    display: block;
    margin: 40px;
    border: 2px double rgb(223, 118, 118);
}
